.cache/
RUNS/
build/
*.sublime-*
build*/
clion_build
compile_commands.json
.idea

Teensy41-Controller-Board/.pio
Teensy41-Controller-Board/.pio
Teensy41-Controller-Board/.vscode/.browse.c_cpp.db*
Teensy41-Controller-Board/.vscode/c_cpp_properties.json
Teensy41-Controller-Board/.vscode/launch.json
Teensy41-Controller-Board/.vscode/ipch
Teensy41-Controller-Board/lib/freertos-teensy-10.4.1_v0.7/*
